jypiter/work/.ipynb_checkpoints
jypiter/work/.Trash-1000
jypiter/work/data-myanime/.ipynb_checkpoints
jypiter/work/data-myanime/*.csv
jypiter/work/ia/.ipynb_checkpoints
jypiter/work/Lab1-felipe/.ipynb_checkpoints
jypiter/work/data-farmacia/*.csv
jypiter/work/data-farmacia/todos-datos/.ipynb_checkpoints
jypiter/work/data-farmacia/todos-datos/*.png
jypiter/work/data-farmacia/todos-datos/*.csv
jypiter/work/data-farmacia/filtros/.ipynb_checkpoints
jypiter/work/data-farmacia/filtros/*.png
jypiter/work/data-farmacia/filtros/*.csv
