jypiter/work/Lab1-felipe/.ipynb_checkpoints
jypiter/work/proyecto-farmacia/*.csv
jypiter/work/proyecto-farmacia/todos-datos/.ipynb_checkpoints
jypiter/work/proyecto-farmacia/todos-datos/*.png
jypiter/work/proyecto-farmacia/todos-datos/*.csv

